# Bot configuration
BOT_TOKEN="BOT_TOKEN"
OWNER_ID=100000000000000000
DEBUG_MODE=true

# Database Configuration
POSTGRES_HOST=flandersdb
POSTGRES_USER=example_user
POSTGRES_PASSWORD=password_here
POSTGRES_DB=exampledb
POSTGRES_PORT=5432
